<nav class="navbar navbar-dark bg-dark fixed-top">

  <h1 class="navbar-brand mb-0 text-center">Welcome to {{ title }} </h1>
  <div *ngIf="!game.isJoined">
    <form class="form-inline my-2 my-lg-0" #gameForm="ngForm" novalidate>
      <input class="form-control mr-sm-2" type="email" placeholder="Email" name="email" #playerName required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
        [(ngModel)]="game.newPlayerName">
      <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="!gameForm.valid" (click)="joinGame(gameForm)">Join</button>
    </form>
  </div>
</nav>

<div class="page">

  <div class="container-1">
    <div class="section">
      <div class="content">
        <div>Players: {{game.otherPlayers.length}}</div>
      </div>
      <div class="scrollable-content content">
        <div *ngFor="let otherPlayer of game.otherPlayers" class="otherPlayer">
          <app-player [player]="otherPlayer" [selfAlive]="selfAlive" (onAttack)="attack(otherPlayer.name)">
          </app-player>
        </div>
      </div>
    </div>
  </div>

  <app-chat-messages [chatMessages]="chatMessages.slice().reverse()"></app-chat-messages>
  <app-notifications [notifications]="notifications"></app-notifications>

  <div class="currentPlayer" *ngIf="game.isJoined">
      <div class="card">
        <div class="card-header">
          <img src="../assets/img_avatar.png" alt="Avatar" class="avatar">
          <h4 class="card-title">{{game.thisPlayer.name}}</h4>
        </div>

      </div>
      </div>
  <div class="chatForm">
    <form class="form my-2 my-lg-0" #broadcastForm="ngForm" novalidate>
      <textarea class="form-control my-2" ngModel name="chatMessage" #chatMessage required></textarea>

      <button class="btn-success my-2 my-sm-0" [disabled]="!broadcastForm.valid" (click)="broadcastMessage(chatMessage.value)">Broadcast</button>
    </form>
  </div>


  <!-- Footer -->
  <footer class="bg-dark fixed-bottom">
    Developer Mode:
    <div>
      <a class="text-info" href="mailto:jawadhasan80@gmail.com">By: jawadhasan80@gmail.com</a>
    </div>
  </footer>