<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" name="messageToSend" #messageToSend />
  <button class="btn btn-default" (click)="sendMessage(messageToSend.value)">Send Message</button>
</div>

<div>
  <h3>
    Sent Messages
  </h3>
  <ul>
    <li *ngFor="let message of sentMessages">
      {{message}}
    </li>
  </ul>
</div>


<div>
    <h3>
      Recieve Messages
    </h3>
    <ul>
      <li *ngFor="let message of recieveMessages">
        {{message}}
      </li>
    </ul>
  </div>


